*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header section */

.header
{
    width: 100%;
    background-color: burlywood;
    color: black;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

h2
{
    text-align: left;
}


/* Content */

.container
{
    display: flex;
    flex: 1;
    flex-direction: row;
}

/* Sidebar */
.sidebar
{
    background-color: lightslategray;
    width: 17%;
    color: black;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

/* Main content area */

.main-content
{
    flex: 1;
    display: flex;
    background-color: pink;
    color: black;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

